// TEMPORARY
//-----------------------
.demo-row
	margin-top: 20px

.chapters-sub-page-close
	position: fixed
	top: 8px
	right: 8px
	font-size: 24px


// Common Properties
//-----------------------
.no-js .chapters-sub-page
	+transition( none !important )

body
	background-color: transparent
	background-image: image-url('alumni-background.jpg')


// Navbar
//-----------------------
.navbar-inverse
	background: $navbarInverseBackground

.navbar-inverse .navbar-search .search-query, .navbar-inverse .navbar-search .search-query:focus
	+box-shadow( none )
	border: none

.dropdown-menu
	+box-shadow( none )
	max-height: 500px
	overflow: auto

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a
	background-image: none


// Nav Blocks
//-----------------------
.home-nav-blocks
	margin-top: 60px

	.home-nav-block
		width: 70%
		margin: 0 auto

		.inner-wrap
			padding: 25%
			+border-radius(50%)

		img.home-nav-icon
			margin: 0 auto
			display: block

		h3.home-nav-title
			margin: 15px 0 15px 0
			font-weight: 700
			text-align: center

	.chapters-map
		.inner-wrap
			background: $retro-blue-light
			border: 8px solid $retro-blue

		h3.home-nav-title
			color: $retro-blue

	.chapters-events
		.inner-wrap
			background: $retro-orange-light
			border: 8px solid $retro-orange

		h3.home-nav-title
			color: $retro-orange

	.chapters-notes
		.inner-wrap
			background: $retro-green
			border: 8px solid $retro-green-dark

		h3.home-nav-title
			color: $retro-green-dark


// Nav Page
//-----------------------
body.chapters-page-nav

	#header img.home-header-image
		+animation(homeFadeInZoom 0.5s cubic-bezier(0.420, 0.000, 0.610, 1.455) )

	.home-nav-blocks

		.inner-wrap
			+transition( all 0.2s ease-in )

			&:hover
				+simple-transform( 1.1, 0, 0, -15px )

			cursor: pointer



// Sub-Pages
//-----------------------
.chapters-sub-page
	margin-top: 80px
	width: 100%
	position: fixed
	top: 100%
	left: 0
	z-index: 500
	+scale( 0.7 )
	+opacity( 0 )
	+transition( all 0.5s ease-in-out )

	&.chapters-expanded
		position: absolute
		height: auto
		//min-height: 100%
		top: 0
		z-index: 1000
		+scale( 1 )
		+opacity( 100 )
		+border-radius( 0 )

.chapters-header, .chapters-header-small
	+clearfix

.chapters-header-image
	+float-left

.chapters-header-title
	+float-left
	color: $retro-red

.chapters-header-script
	font-family: "Arizonia", "Days", Helvetica, sans-serif

.chapters-header-small
	margin-bottom: 24px

	.chapters-header-image
		width: 20%

	.chapters-header-title
		width: 70%
		margin-left: 5%
		margin-top: 15px

	.chapters-header-script
		font-size: 68px
		text-align: right
		margin-top: 20px

.chapters-header
	.chapters-header-image
		width: 33.7%

	.chapters-header-title
		width: 60.3%
		margin-left: 6%
		margin-top: 42px

	.chapters-title
		font-size: 56px
		line-height: 100%

	#for
		text-align: left

	#you-roam
		text-align: right

	.chapters-header-script
		font-size: 203.56%
		font-weight: 100
		line-height: ( 0.4912 * 114 ) * 1%
		margin-left: 10%

